.scene {
  width: 210px;
  height: 220px;

  perspective: 600px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 12px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  max-width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}
