.card {
  border-radius: 8px;
  padding-block: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 55px -21px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 55px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 55px -21px rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  font-size: 22px;
  margin-block: 10px;
}

.card__info {
  margin-block-start: 10px;
  padding-inline: 20px;
  align-self: flex-start;
}

.button {
  align-self: center;
  margin-block-end: 20px;
}
